anthropic==0.86.0
edgartools==5.10.2
google-genai==1.59.0
lxml==6.0.2
markdown==3.10
openai==2.15.0
pandas==2.3.3
pytest==9.0.2
python-dotenv==1.2.1
streamlit[auth]==1.53.0
tavily-python==0.7.19
weasyprint==67.0
yfinance==1.0
